
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
    <body>
	
	<nav th:replace="fragments::nav"></nav>
		
	<div class="container">
	
	<!-- adding date from script -->
	<div align="center"><span id="date"></span></div><br/><br/>
		
	 <!-- administration menu, hard coded so wont confuse fragments.html-->
		    <nav id="admin">
				<hr/>
				<ul>
							
				<li><a href="/admin"><button type="button" class="btn btn-success">
					Administration page</button></a></li>
				<li><a href="/edit-home"><button type="button" class="btn btn-success">
					Edit Home page</button></a></li>
				<li><a href="/edit-services"><button type="button" class="btn btn-success">
					Edit Services page</button></a></li>
				<li><a href="/edit-about"><button type="button" class="btn btn-success">
					Edit  About us page</button></a></li>
				<li><a href="/edit-contact"><button type="button" class="btn btn-success">
					Edit Contact page</button></a></li>
				<li><a href="/edit-gallery"><button type="button" class="btn btn-success">
					Edit gallery page</button></a></li>
				<li><a href="/upload-page"><button type="button" class="btn btn-success">
					Upload images</button></a></li>
				</ul>
				<hr/>
			</nav>
	
					<hr/>
					
		<!-- centering up forms -->
		<div class="blue-form-control">
		
		
		<!-- form for editing JUMBOTRON headline and content-->
		<h1>Edit JumboTron</h1><br/>
		<form action="/edit-home/edit-jumbo" method="post">        
       		<div class="form-group">
			  <label class="col-3 col-form-label">Enter a Headline for the JumboTron.</label>
			  <br/>
			  <div class="col-6">
			    <input class="form-control" type="text" placeholder="Catchy Headline" name="headline"
			     required="required" data-error="Headline is required."  />
			    <div class="help-block with-errors"></div>
			  </div>
			</div>
			
			<div class="form-group">
			    <label class="col-3">Enter a brief paragraph to impose on the JumboTron. This section 
			    contains a button the takes users to your services page, so maybe a lead into that.</label>
			    <br/>
			    <textarea class="form-control col-6" name="content" rows="4"
			     required="required" data-error="Content is required." ></textarea>
			    <div class="help-block with-errors"></div>
			  </div>
			  			  <!-- add image from bucket-->
		        <select name="url">
		            <option th:each="image : ${session.imageList}"
		                    th:text="${image.name}"
		                    th:value="${image.url}"></option>
		        </select>
			  
             <button type="submit" class="btn btn-success">Edit JumboTron</button> 
        </form> 
        
        <br/><br/>
        <!-- delete based on ID -->
        	<h2>Delete entry based on ID number</h2>
			<form action="/delete-jumbo" method="GET">
				<label for="ID">ID:</label><br />
				<input type="text" name="ID" size="50" class="ID"  
				required="required" data-error="ID is required." />
				<div class="help-block with-errors"></div><br />	
				<h3>Click this button to delete entry</h3><br />
				<button type="submit" id="button">Delete</button>
				<br />
			</form>
				
		<br/><br/>

		<!-- list all for figuring out ID -->				
			<h2>List all</h2>
			<form action="/list-jumbo" method="GET">
				<button type="submit" id="button">List all</button><br />
			</form>
				
				
		<br/><br/><hr/>
        <!-- form for  GALLERY CARD editing headline and content-->
        <h1>Edit Gallery Card</h1><br/>
		<form action="/edit-home/edit-card1" method="post">        
       		<div class="form-group">
			  <label class="col-3 col-form-label">Enter a Headline for Gallery Card.</label>
			  <br/>
			  <div class="col-6">
			    <input class="form-control" type="text" placeholder="Catchy Headline" name="headline"
			     required="required" data-error="Headline is required."  />
			    <div class="help-block with-errors"></div>
			  </div>
			</div>
			
			<div class="form-group">
			    <label class="col-3">Enter a brief paragraph to direct people to your gallery.</label>
			    <br/>
			    <textarea class="form-control col-6" name="content" rows="4"
			     required="required" data-error="Content is required." ></textarea>
			    <div class="help-block with-errors"></div>
			  </div>
			  
			  			  <!-- add image from bucket-->
		        <select name="url">
		            <option th:each="image : ${session.imageList}"
		                    th:text="${image.name}"
		                    th:value="${image.url}"></option>
		        </select>
			  <input type="hidden" name="type" value="card1"/>
             <button type="submit" class="btn btn-success">Edit Gallery Card</button> 
        </form> 
        
				
		<br/><br/><hr/>
        <!-- form for  ABOUT US CARD editing headline and content-->
        <h1>Edit About us Card</h1><br/>
		<form action="/edit-home/edit-card1" method="post">        
       		<div class="form-group">
			  <label class="col-3 col-form-label">Enter a Headline for About Us Card.</label>
			  <br/>
			  <div class="col-6">
			    <input class="form-control" type="text" placeholder="Catchy Headline" name="headline"
			     required="required" data-error="Headline is required."  />
			    <div class="help-block with-errors"></div>
			  </div>
			</div>
			
			<div class="form-group">
			    <label class="col-3">Enter a brief paragraph to direct people to about us page.</label>
			    <br/>
			    <textarea class="form-control col-6" name="content" rows="4"
			     required="required" data-error="Content is required." ></textarea>
			    <div class="help-block with-errors"></div>
			  </div>
			  
			  			  <!-- add image from bucket-->
		        <select name="url">
		            <option th:each="image : ${session.imageList}"
		                    th:text="${image.name}"
		                    th:value="${image.url}"></option>
		        </select>
			  <input type="hidden" name="type" value="card2"/>
             <button type="submit" class="btn btn-success">Edit About Us Card</button> 
        </form> 
        

		<br/><br/><hr/>
		
        <!-- form for  CONTACT CARD editing headline and content-->
        <h1>Edit Contact Us Card</h1><br/>
		<form action="/edit-home/edit-card1" method="post">        
       		<div class="form-group">
			  <label class="col-3 col-form-label">Enter a Headline for Contact Card.</label>
			  <br/>
			  <div class="col-6">
			    <input class="form-control" type="text" placeholder="Catchy Headline" name="headline"
			     required="required" data-error="Headline is required."  />
			    <div class="help-block with-errors"></div>
			  </div>
			</div>
			
			<div class="form-group">
			    <label class="col-3">Enter a brief paragraph to let know people where to contact you.</label>
			    <br/>
			    <textarea class="form-control col-6" name="content" rows="4"
			     required="required" data-error="Content is required." ></textarea>
			    <div class="help-block with-errors"></div>
			  </div>
			  			  <!-- add image from bucket-->
		        <select name="url">
		            <option th:each="image : ${session.imageList}"
		                    th:text="${image.name}"
		                    th:value="${image.url}"></option>
		        </select>
			  <input type="hidden" name="type" value="card3"/>
             <button type="submit" class="btn btn-success">Edit Contact Card</button> 
        </form> 
        
        <br/><br/>
        <!-- delete based on ID -->
        	<h2>Delete entry based on ID number</h2>
			<form action="/delete-card" method="GET">
				<label for="ID">ID:</label><br />
				<input type="text" name="ID" size="50" class="ID"  
				required="required" data-error="ID is required." />
				<div class="help-block with-errors"></div><br />	
				<h3>Click this button to delete entry</h3><br />
				<button type="submit" id="button">Delete</button>
				<br />
			</form>
				
		<br/><br/>

		<!-- list all for figuring out ID -->				
			<h2>List all</h2>
			<form action="/list-card" method="GET">
				<button type="submit" id="button">List all</button><br />
			</form>
				
				
		<br/><br/><hr/>
		
        <!-- form for BOTTOM FEATURE  editing headline and content-->
        <h1>Edit Bottom Feature</h1><br/>
		<form action="/edit-home/edit-feature" method="post">        
       		<div class="form-group">
			  <label class="col-3 col-form-label">Enter a Headline.</label>
			  <br/>
			  <div class="col-6">
			    <input class="form-control" type="text" placeholder="Catchy Headline" name="headline"
			     required="required" data-error="Headline is required." />
			     <div class="help-block with-errors"></div>
			  </div>
			</div>
			
			<div class="form-group">
			    <label class="col-3">Enter a paragraph to get the client attention.</label>
			    <br/>
			    <textarea class="form-control col-6" name="content" rows="4"
			    required="required" data-error="Content is required." ></textarea>
			    <div class="help-block with-errors"></div>
			  </div>
			  			  <!-- add image from bucket-->
		        <select name="url">
		            <option th:each="image : ${session.imageList}"
		                    th:text="${image.name}"
		                    th:value="${image.url}"></option>
		        </select>
             <button type="submit" class="btn btn-success">Edit Bottom Feature</button> 
        </form> 
        
        <br/><br/>
        <!-- delete based on ID -->
        	<h2>Delete entry based on ID number</h2>
			<form action="/delete-feature" method="GET">
				<label for="ID">ID:</label><br />
				<input type="text" name="ID" size="50" class="ID"  
				required="required" data-error="ID is required." />
				<div class="help-block with-errors"></div><br />	
				<h3>Click this button to delete entry</h3><br />
				<button type="submit" id="button">Delete</button>
				<br />
			</form>
				
		<br/><br/>

		<!-- list all for figuring out ID -->				
			<h2>List all</h2>
			<form action="/list-feature" method="GET">
				<button type="submit" id="button">List all</button><br />
			</form>
				
				
		<br/><br/><hr/>

	<!-- end centering of forms -->
	</div>
	
	
	
	<!-- end container -->
	</div>
	<!-- put script at bottom of page for now -->
	<script src="js/fun01.js"></script>
       <!-- start of footer -->
 	<footer th:replace="fragments :: footer"></footer>
	

    </body>
</html>