
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
    <body>
	
	<nav th:replace="fragments::nav"></nav>
	
    <!-- jumbotron-->
    <div th:replace="fragments::jumbotron">
    </div>
    
	<!-- can print javaScript to tags with ids -->
	<div id="results"></div>
	
	<div class="container">
	
	<!-- adding date from script -->
	<div align="center"  th:if="${session.adminrole == true}"><span id="date"></span></div><br/><br/>
		
	 <!-- administration menu, hard coded so wont confuse fragments.html-->
		    <nav id="admin"  th:if="${session.adminrole == true}" >
				<hr/>
				<ul>
							
				<li><a href="/admin"><button type="button" class="btn btn-success">
					Administration page</button></a></li>
				<li><a href="/edit-home"><button type="button" class="btn btn-success">
					Edit Home page</button></a></li>
				<li><a href="/edit-services"><button type="button" class="btn btn-success">
					Edit Services page</button></a></li>
				<li><a href="/edit-about"><button type="button" class="btn btn-success">
					Edit  About us page</button></a></li>
				<li><a href="/edit-contact"><button type="button" class="btn btn-success">
					Edit Contact page</button></a></li>
				<li><a href="/edit-gallery"><button type="button" class="btn btn-success">
					Edit gallery page</button></a></li>
				</ul>
				<hr/>
			</nav>
	
			
			<!-- this is where saved session shows up -->
			<article>
			<hr/>
			<div align="center">
			<h1 th:inline="text">[[${session.saved}]]</h1>
			</div>
			
			<hr/>
			</article>
	
	
	
	
	</div>
	<!-- put script at bottom of page for now -->
	<script src="js/fun01.js"></script>
       <!-- start of footer -->
 	<footer th:replace="fragments :: footer"></footer>
	

    </body>
</html>